@charset "UTF-8";
nav.navbar {
  transition: 0.5s;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
  background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a {
  color: white;
  transition: 0.5s;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a:hover {
  color: #78B8BA;
}

header.jumbotron {
  text-align: center;
  background-image: url(../1f7b17_80e035e626b04be184993e0911890da3-mv2.png);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
header.jumbotron .container {
  color: white;
  padding: 200px 0px;
}
header.jumbotron .box {
  width: 50%;
  height: 1300px;
  background: #FFF;
  color: #000;
  position: relative;
  left: 25%;
  top: -100px;
}
header.jumbotron .box h2 {
  padding-top: 30px;
}
header.jumbotron hr {
  max-width: 50px;
  border: solid 2px #78B8BA;
}

section {
  padding: 50px 0px;
}

section#section_intro {
  background-color: #78B8BA;
}
section#section_intro h2 {
  margin-top: 130px;
  padding: 0px 20px;
  color: #FFFFFF;
}

section#section_about img {
  width: 100%;
  height: 480px;
}
section#section_about .img_wrap {
  height: 500px;
  overflow: hidden;
}

section#section_story {
  background-color: #222;
  color: white;
  padding: 0;
}
section#section_story .col-sm-5 {
  background-image: url(../178.jpg);
  background-size: 100% auto;
  height: 400px;
}
section#section_story .col-sm-5 .cross {
  position: absolute;
  right: 34%;
  top: 47%;
  color: red;
  font-weight: bold;
  font-size: 30px;
}
section#section_story .col-sm-7 {
  text-align: center;
}
section#section_story .col-sm-7 i {
  font-size: 40px;
}
section#section_story .col-sm-12.features {
  margin-top: 40px;
  margin-bottom: 40px;
}

section#section_event img {
  width: 100%;
}
section#section_event i {
  font-size: 30px;
}
section#section_event .feature {
  padding-top: 10px;
  padding-bottom: 10px;
}
section#section_event .doujou {
  text-align: right;
}
section#section_event .col-md-12 {
  text-align: center;
}
section#section_event hr {
  width: 100px;
}

section#section.near {
  text-align: center;
  background: #A8D8EA;
}

footer.connect#connect {
  text-align: center;
  background-image: url(../1f7b17_80e035e626b04be184993e0911890da3-mv2.png);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
footer.connect#connect .container {
  color: #000;
  padding: 60px 0px;
}
footer.connect#connect hr {
  max-width: 50px;
  border: solid 2px #78B8BA;
}
footer.connect#connect a {
  font-size: 40px;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #AA96DA;
  border-bottom: solid 7px #70A5C8;
  color: #000000;
  font-family: 微軟正黑體;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav_area {
  background-color: #AA96DA;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
}
